@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bernardo Correia de Miranda Alcântara Pereira</h1>
    <p class="lead">bernardo.apereira@al.infnet.edu.br</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Software como serviços (SaaS)</h2>
        <p>
            Software como serviço, do inglês Software as a service (SaaS), é uma forma de distribuição e comercialização de software. No modelo SaaS, o fornecedor do software se responsabiliza por toda a estrutura necessária à disponibilização do sistema (servidores, conectividade, cuidados com segurança da informação), e o cliente utiliza o software via internet, pagando um valor pelo serviço.
        </p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o">Fonte &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plataforma como serviços (PaaS)</h2>
        <p>PaaS — Platform as a Service — em computação, consiste no serviço propriamente dito de hospedagem e implementação de hardware e software, que é usado para prover aplicações (software como serviço) por meio da Internet. Oferece a possibilidade de substituir o paradigma de aplicações tradicional, no qual programas de computador são instalados na máquina do usuário e ficam assim muito mais restritos às configurações de hardware e software disponíveis nela, principalmente ao sistema operacional.</p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Plataforma_como_servi%C3%A7o">Fonte &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Infaestrutura como serviço (IaaS)</h2>
        <p>
            Em computação em nuvem, Infraestrutura como serviço, também conhecido como Infrastructure as a Service ou IaaS é uma infraestrutura de servidores acessada através da Internet que pode ser consumida como um serviço.

            O IaaS é a parte encarregada por prover toda a infraestrutura necessária para a PaaS e o SaaS. O principal objetivo do IaaS é tornar mais fácil e acessível o fornecimento de recursos, tais como servidores, rede, armazenamento e outros recursos de computação essenciais para construir um ambiente sob demanda, que podem incorporar sistemas operacionais e aplicativos.
        </p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Infraestrutura_como_servi%C3%A7o">Fonte &raquo;</a></p>
    </div>
</div>